<link type="text/css" rel="stylesheet" href="/static/css/quiz.css" />
<body>
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh;">
        <h1 class="title">Thank you for your time!</h1>
        <h2 class="title" style="text-align: center;">Remember the one who controls the data controls the future</h2>
        <!-- <p id="mousePosition"></p>
        <p id="output"></p>
        <script>
            // Get the element with id="mousePosition"
            var p = document.getElementById('mousePosition');
    
            // Add an event listener for the "mousemove" event
            document.addEventListener('mousemove', function(event) {
            // Get the current mouse position
            var x = event.clientX;
            var y = event.clientY;
    
            // Get the current timestamp
            var timestamp = new Date().getTime();
    
            // Update the p element with the new mouse position and timestamp
            p.innerHTML = "Mouse position: X = " + x + ", Y = " + y + ". Timestamp: " + timestamp;
            });
    
            // Add an event listener for the "keydown" event
            document.addEventListener('keydown', function(event) {
                var x = event.which || event.keyCode;  // Get the Unicode value
                // Get the current timestamp
                var timestamp = new Date().getTime();
    
                // Update the p element with the key code and timestamp
                document.getElementById("output").innerHTML = "Key code: " + x + ". Timestamp: " + timestamp;
            });
        </script> -->
    </div>
</body>